node_modules
npm-debug.log
.DS_Store

dist/
build/

.checksum
.extension

*.zip
*.crx
*.pem
*.xpi
update.xml
npm-debug.log.*
/.gtm/

# Keep safari extension config stuff, remove the rest
*.safariextension/**/*
!*.safariextension/*.plist
!*.safariextension/background.safari.html
