doctype html

html
  head
    title Sourcegraph extension
    link(href='/css/options.css', rel='stylesheet', type='text/css')
  body
    div(class="options")
      p Customize your experience by enabling the features that keep you in flow.
      div(id="sourcegraph-enable-search-container")
      h4(class="section-header") Search:
      p(class="section-subheader") Search using Sourcegraph-embedded editor.
      div(class="option-container")
        input(type="checkbox", id="sourcegraph-enable-search")
        label(class="options-label") Add Sourcegraph search to GitHub search menu
      h4(class="section-header") Reuse browser tab:
      p(class="section-subheader") Load Sourcegraph faster by reusing an existing Sourcegraph browser tab.
      div(class="option-container")
        input(type="checkbox", id="sourcegraph-one-tab")
        label(class="options-label") Reuse Sourcegraph tab for tooltip actions
      div(class="option-container")
        input(type="checkbox", id="sourcegraph-open-existing-tab")
        label(class="options-label") Always reuse Sourcegraph tab
      h4(class="section-header") Advanced options
      p(class="section-subheader") Warning: changing these options may break your Chrome extension.
      form#sourcegraph_url_form
        div(class="option-container")
          label(class="advanced-options-label") Sourcegraph URL:
          input(id="sourcegraph_url", class="url-input")
          input(type="submit", value="Save", class="save-button")
      script(src='/js/options.bundle.js')
