doctype html

html
  head
    title Sourcegraph extension
    link(href='./css/bootstrap.bundle.css' rel='stylesheet' type='text/css')    
    link(href='./css/style.bundle.css', rel='stylesheet', type='text/css')
  body
      script(src='./js/options.bundle.js')
