// Formats an icon so that it appears inline in the text
// with height matching the text
.icon-inline {
    // Center SVG inside the container
    display: inline-flex;
    align-items: center;
    svg {
        // 14px font size -> 24px icon size
        width:  1.25em;
        height: 1.25em;
        // Match color of the text
        fill: currentColor;
    }
}

.sg-icon .icon {
    @extend .icon-inline;
    display: flex;
}

.selection-highlight {
    background-color: rgba(3, 102, 214, 0.3);
}

.selection-highlight-sticky {
    background-color: rgba(3, 102, 214, 0.3);
}

@import './tree/jstree';
@import './tree/jstreeDark';
@import './tree/tree';
@import './repo/tooltips';
@import './highlight';
@import './options';
