/*
    Options page css
*/

.sg-options-label {
    padding-left: 5px;
}

.sg-option-container {
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
}

.sg-section-header {
    margin-bottom: 5px;
}

.sg-section-subheader {
    margin-top: 0px;
}

.sg-advanced-options-label {
    padding-right: 5px;
}

.sg-save-button {
    margin-left: 5px;
}

.sg-url-input {
    width: 150px;
}

.sg-options {
    width: 350px;
}
